.CandyCancel {
    background-color: #f5f6fa;
}

.CandyCancel h1 {
    text-align: center;
    color: #e84118;
}

.CandyCancel p {
    text-align: center;
    color: #2f3640;
}

.CandyCancel button {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    height: 2em;
}