* {
    background-color: #f5f6fa;
}

.CandySpecial {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.CandySpecial .Header {
    text-align: center;
}

.CandySpecial .Image {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.CandySpecial .Cost {
    text-align: center;
}

@media screen and (min-width: 1000px) {
    .CandySpecial .Image {
        width: 20%;
        margin-left: 40%;
        margin-right: 40%;
    }
}