.HomePageCandy {
    background-color: #ecf0f1;
    padding: 1em 1em 1em 1em;
}

.HomePageCandy .Default {
    border-style: solid;
    border-radius: 1em;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 80%;
}

.HomePageCandy .Rea {
    border-style: solid;
    border-radius: 1em;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 80%;
    background-color: #e74c3c;
}

.HomePageCandy .Rea .CandySpecial h2 {
    color: #3498db;
}

.HomePageCandy .Rea .ReaText h1 {
    color: #2d3436;
    text-align: center;
    background-color: #e74c3c;
}

.HomePage button {
    width: 10%;
    height: 4em;
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 3em;
}